[Unit]
Description = Python APP server for aCT REST
Requires = act.service
After = act.service
BindsTo = act.service

[Service]
ExecStart = /opt/act/venv/bin/gunicorn act.client.app:app --bind 0.0.0.0:8080 --timeout 900
Restart = on-failure
User = act

[Install]
WantedBy = act.service
