[Unit]
Description = Python APP server for aCT REST
Requires = mariadb.service
After = mariadb.service

[Service]
ExecStart = /opt/act/venv/bin/gunicorn act.client.app:app --bind 0.0.0.0:8080 --timeout 900
Restart = on-failure
User = act

[Install]
WantedBy = multi-user.service
